@import 'include';

.CampaignTracker {
    width: 100%;
    max-width: 800px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $font-color;
    font-weight: 500;
    font-size: $font-size-normal;

    .TabBar {
        width: 100%;
        text-align: left;
        margin-bottom: -1px;
        background-color: transparent;

        .TabPicker {
            opacity: 0.6;
            text-align: center;
            padding: 6px 10px 4px;
            min-width: 50px;
            border-style: solid;
            border-width: 1px 0 0 1px;
            border-color: $border-color;
            border-radius: 4px 4px 0 0;
            background-color: $foreground-color;
            cursor: pointer;

            &._active {
                opacity: 1;
                background-color: $foreground-color;
                border-bottom-color: transparent;
                border-bottom-width: 1px;
                z-index: 1;
                position: sticky;
                color:$label-color;
            }

            &:last-child {
                border-right-width: 1px;
            }

            span {
                cursor: inherit;
            }
        }
    }

    .CampaignTab {
        width: 100%;
        font-size: $font-size-normal;
        border-style: solid;
        border-width: 1px;
        border-color: $border-color;
        border-radius: 1px;
        text-align: left;
        background-color: $foreground-color;

        ._body  {
            padding: 10px 7px;
            .InputField {
                width: 100%;
            }
        }
    }

    .CampaignCalendar { 
        width: 100%;

        ._body {
            padding: 0;
        }

        table {
            display: table;
            width: 100%;
            padding: 0;
            border-spacing: 0;
            border-collapse: collapse;

            tr {
                margin: 0;

                &:last-child td {
                    border-bottom-width: 0;
                }
            }

            td {
                width: 10%;
                padding: 0;
                font-size: $font-size-larger;
                font-weight: bold;
                text-align: center;
                border-color: $border-color;
                border-style: solid;
                border-width: 0 1px 1px 0;

                &:last-child {
                    border-right-width: 0;
                }

                &.current span {
                    border: 3px dashed rgb(150, 0, 0);;
                    border-radius: 100px;
                    margin: -3px 0;
                }

                &:not(.current) span:hover {
                    border: 3px dashed rgba(150, 0, 0, 0.5);
                    border-radius: 100px;
                    margin: -3px 0;
                    cursor: pointer;
                }

                &.complete {
                    background-color:rgba(77, 35, 28, 0.1);
                    color:rgba(117, 112, 99, 0.7);
                }

                span {
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    padding: 10%;
                    line-height: 28px;
                }
            }
        }
    }
    
    ._header {
        padding: 10px 7px;
        width: 100%;

        .InputField {
            margin: 0 5px 8px 0;
            border-bottom: 1px dashed transparentize($border-color, 0.3);

            input {
                height: 20px;
                border-radius: 2px;
                font-size: $font-size-normal;
                font-style: italic;
            }

            .FieldLabel {
                margin: auto 5px auto auto;
            }
        }

        .SpinnerField {
            .FieldLabel {
                flex-grow: 0;
            }
            .SpinnerInput {
                flex-grow: 1;
            }
        }

        ._right,
        ._left {
            padding: 0 7px; // might need adjustment later
        }
    }

    ._body {
        width: 100%;
    }

    .Button {
        background: none;
        border: none;
        padding: 0;
        color: $label-color;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $font-size-smaller;
        font-style: italic;
        opacity: 0.6;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .InputField {
        input {
            border: none;

            &:focus {
                outline: none;
                background: rgba(65, 65, 65, 0.1);
            }

            &[type="text"] {
                border-radius: 3px;
            }
        }
    }

    .CounterField {
        input {
            text-align: right;

            &[type="number"] {

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    opacity: 0.7;
                    margin-left: 10px;
                }
            }
        }
    }

    .HamburgerMenu {
        border: 1px solid $border-color;
        background-color: $foreground-color;
        width: 40px;
        height: 38px;
        display: block;
        -webkit-user-select: none;
        user-select: none;
        padding: 9px 0 0 7px;

        span {
            display: block;
            width: 25px;
            height: 3px;
            margin-bottom: 5px;
            position: relative;
            background-color: $font-color;
            z-index: 1;
            border-radius: 3px;
            transform-origin: 4px 0px;
        }

        span:first-child {
            transform-origin: 0%;
        }

        span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
    }
}