@import 'include';

.CustomItem {
    display: flex;
    font-size: $font-size-normal;
    border-style: solid;
    border-color: $border-color;
    border-width: 0 0 1px 0;

    &.CustomCounterItem {
        .CustomItem_name {
            border-right: 1px solid $border-color;
        }
    }

    &._left {
        float: left;
    }

    .CustomItem_name {
        padding: 5px 0;
        flex-grow: 1;

        input {
            font-size: $font-size-normal;
        }

        input::placeholder {
            opacity: 0.5;
            font-style: italic;
        }
    }
}