@import 'include';

.SpinnerField {
    /* HIDE ARROWS */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    .FieldLabel {
        margin-right: 5px;
        flex-grow: 1;
    }

    .SpinnerInput { 
        input.Button {
            background-color: $button-color;
            text-align: center;
            font-weight: bold;
            width: 26px;
            height: 26px;
            border-radius: 3px;
            margin: auto;
        }

        input[type="number"] {
            text-align: center;
            width: 40px;
            display: inline-block;
            height: 26px;
            padding: 0;
        }
    }
}