@import 'include';

.TrackerSection {
    width: 100%;

    &._collapsible > ._header {
        cursor: pointer;

        label {
            cursor: inherit;
        }
    }

    & > ._header {
        width: 100%;
        padding: 10px 5px;
        border-top: 1px solid $border-color;
        display: flex;

        .FieldLabel {
            margin-right: 6px;
        }

        & > ._fill {
            text-align: right;
        }
    }

    & > ._body {
        width: 100%;
        border-top: 1px solid $border-color;

        .InputField {
            padding-left: 5px;
            padding-right: 5px;
        }

        .SpinnerInput {
            padding: 3px 0;
            input[type="number"] {
                font-size: $font-size-larger;
            }
        }
    }
}